<div id="modal-tgt" class="modal">
  <div class="modal-content">
    <h4><span class="red-text text-darken-2">本当に削除しますか？</span></h4>
    <p>削除すると記事内容、いいね数などが全て削除されます。この処理は取り消しできません。</p>
  </div>
  <div class="modal-footer">
    <%= button_to "はい", target, class:"waves-light btn red lighten-2", method: :delete  %>
  </div>
</div>