<div class="col hide-on-small-only m3 l2">
  <ul class="section table-of-contents">
    <li><%= link_to "マイページ", "/users/#{current_user.id}", class: 'post' %></li>
    <li><%= link_to "プロフィール編集", "/users/profile_edit", class: 'post' %></li>
    <li><%= link_to "アカウント設定", edit_user_registration_path, class: 'post' %></li>
  </ul>
</div>