<div id="slider-area">
  <div class="slider">
    <ul class="slides blue lighten-2">
      <li>
        <div class="caption center-align">
          <h6 class="valign-wrapper"><i class="material-icons">add_alert</i>本サービスについて</h6>
          <h5>ブログサービス</h5>
          ポートフォリオとして作成したメディア系のブログサービスです。
          詳しくは<%= link_to "こちら", "/posts/1", class: "yellow-text lighten-4" %>
        </div>
      </li>
      <li>
        <img src="/blog_sample_1.jpg">
        <div class="caption left-align blue-text lighten-2">
          <h5>ブログを書いてみよう</h5>
          <p class="blue-text lighten-2">
            本サービスはブログサービスです。日々の出来事や意見を自由に共有しよう！
          </p>
        </div>
      </li>
      <li>
        <img src="/blog_sample_2.jpg">
        <div class="caption right-align">
          <h5>お気に入りの記事を見つけよう</h5>
          <p>
            興味のあることや、わからないことを調べて、お気に入りの記事を見つけよう！
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>