<br>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><%= link_to "最近の記事", "" %></li></li>
      <li class="tab col s3"><%= link_to "人気の記事", "" %>Test 2</a></li>
      <li class="tab col s3"><%= link_to "いいねした記事", "" %></li>
    </ul>
  </div>
</div>