<ul class="collection with-header user-rank-lyout">
  <li class="collection-header">
    <div class="valign-wrapper"><i class="material-icons">equalizer</i>ユーザーランキング</div>
  </li>
  
  <% users.each do |user| %>
    <li class="collection-item">
      <div>
        <div class="chip">
          <%= image_tag "#{User.find(user[0]).image}" %>
          <%= link_to User.find(user[0]).name, "/users/#{User.find(user[0]).id}" %>
        </div>
        <h6 class="secondary-content"><%= "#{user[1]}like" %></h6>
      </div>
    </li>
  <% end %>
</ul>