<div class="container">
  <div class="input-field">
    <i class="material-icons prefix">search</i>
    <input type="text" id="autocomplete-input" class="autocomplete">
    <label for="autocomplete-input">キーワードを入力</label>
  </div>
      
<ul class="collection">
  <% @posts.each do |post| %>
    <li class="collection-item avatar">
      <%= link_to image_tag("/default.png", class: "circle responsive-img"), "/users/#{post.id}" %>
      <span class="title truncate"><%= link_to(post.title, "/posts/#{post.id}") %></span>
      <p></p><%= link_to post.user.name, "/users/#{post.id}" %>
      <%= post.updated_at.strftime("%Y/%m/%d") %></p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  <% end %>
</ul>
</div>

