<div class="container">
          <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">search the best</label>
          </div>
      </div>


<ul class="collection">
  <li class="collection-item avatar">
    <img src="sample.png" alt="" class="circle">
    <span class="title">Title</span>
    <p>First Line <br>
       Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>
