<div class="container">
          <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">search the best</label>
          </div>
      </div>

<% @posts.each do |post| %>
<ul class="collection">
  <li class="collection-item avatar">
    <%= image_tag '/default.png' ,class: 'circle responsive-img' %>
    <span class="title"><%= link_to(post.title, "/posts/#{post.id}") %></span>
    <p>First Line <br>
       
          <div class="posts-index-item">
            
          </div>
        
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>
<% end %>