body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.nav-wrapper{
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}

.font-bold{
  font-weight: bold; 
}

.tag-lyout {
  font-size: 12px;
  color: #505050;
  padding: 0.2em 0.3em 0.4em;
  display: inline-block;
  line-height: 1;
  background: #dbebf8;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

.tag-lyout:before {
  content: '●';
  color: white;
  margin-right: 3px;
}


