ul.center li {
  _display: inline;
}

.title{
  width: 95%;
  font-weight:bold;
}

.article_frame {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  word-break: break-all;
}

.textlines {
  height: 700px;
  resize: vertical;
}

.input-field{
  width: 85%;
  display:inline-block;
}

.user-rank-lyout{
  width: 300px;
}

.slider-lyout{
  width: 300px;
}

.title-font{
  font-size: 18px;
  font-weight:bold; 
}

#index-article-list-area{
  
  .card-grid{
    margin: 20px -10px -40px;
    
  }
  
  .card-content{
    word-wrap: break-word;
  }
  
  .card-image{
    height: 200px;
    border-top: solid 5px #64b5f6;
    border-bottom: solid 5px #64b5f6;
  }
  
  .card-title{
    border-bottom: thin solid #e0e0e0;
  }
  
  .overview-content{
    font-size: 12px;
  }
  
  .grey-text{
    font-size: 12px;
  }
}