ul.center li {
  _display: inline;
}

.title{
  width: 95%;
  font-weight:bold;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.article_frame {
  margin: 0 auto;
  max-width: 800px;
  width: 800px;
  word-break: break-all;
}

.textlines {
  resize: vertical;
  border: none; 
}