
.tag-lyout {
  font-size: 12px;
  color: #505050;
  padding: 0.2em 0.3em 0.4em;
  display: inline-block;
  line-height: 1;
  background: #dbebf8;
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;
}

.tag-lyout:before {
  content: '●';
  color: white;
  margin-right: 3px;
}


