#profile-edit-area{
  .card-title{
    font-weight: bold; 
    word-wrap: break-word;
  }
  
  .card-reveal{
    word-wrap: break-word;
  }
}

#profile-edit-area{
  .setting_frame{
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
  }
  .profile_textbox{
    width: 200px;
    height: 300px;
  }
}